html {
    background-color: white;
}

*{
    box-sizing: border-box;
}

.name-tag{
    height: 325px;
    width: 500px;
    background-color: red;
    color: white;
    text-align: center;
    margin: auto;
    font-family: Arial;
    border-radius: 25px;
}

#name-area {
    height: 150px;
    width: 500px;
    background-color: white;
    color: black;
    margin: auto;
    font-family: cursive;
    font-size:65px;
}
